In [1]:
import requests
import urllib.request
import pandas as pd
import time
import os
from requests_oauthlib import OAuth1

In [2]:
API_key = os.getenv('API_key')

In [3]:
HOST = "https://api.census.gov/data"
time = "2018"
dataset = "timeseries/poverty/saipe"
base_url = "/".join([HOST, dataset])

get_vars = ["SAEMHI_PT", "SAEPOV0_17_PT", "SAEPOVALL_PT"]
predicates = {}
predicates["get"] = ",".join(get_vars)
predicates["for"] = "county:201"
predicates["in"] = "state:48"
predicates["time"] = "2018"

auth = OAuth1('API_key')

r = requests.get(base_url, params=predicates, auth=auth)

In [4]:
print(r.text)

[["SAEMHI_PT","SAEPOV0_17_PT","SAEPOVALL_PT","time","state","county"],
["60241","306893","767367","2018","48","201"]]

In [5]:
col_names = ["median_household_income", "under_18_in_poverty", "all_ages_in_Poverty", "year", "state", "county"]

In [6]:
df = pd.DataFrame(columns = col_names, data = r.json()[1:])

In [7]:
print(df.head())

  median_household_income under_18_in_poverty all_ages_in_Poverty  year state  \
0                   60241              306893              767367  2018    48

  county
0    201

In [8]:
print(r.json())

[['SAEMHI_PT', 'SAEPOV0_17_PT', 'SAEPOVALL_PT', 'time', 'state', 'county'], ['60241', '306893', '767367', '2018', '48', '201']]

In [9]:
import csv
f = open("pov.csv", "a", newline="")
writer = csv.writer(f)
writer.writerow(df)
f.close()

In [10]:
df.to_csv("pov.csv", index = False)
pd.read_csv("pov.csv")

,median_household_income,under_18_in_poverty,all_ages_in_Poverty,year,state,county
0,60241,306893,767367,2018,48,201